@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Rubik", sans-serif;
}
.cnt {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgba(127, 222, 255, 0.75);
}
.cnt button {
  border: 10px solid #4f518c;
  border-radius: 7px;
  font-size: 24px;
  color: white;
  background-color: #4f518c;
  transition: 0.3s;
  cursor: pointer;
}
.cnt__btn {
  position: absolute;
  top: 20%;
}
.cnt button:hover {
  border: 10px solid #46488a;
  background-color: #46488a;
  animation-name: shake;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transfrom: rotate(0deg);
  }
  10% {
    transform: rotate(-3deg);
  }
  20% {
    transform: rotate(3deg);
  }
  30% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(3deg);
  }
  900% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.cnt__modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.15s;
}
@keyframes popup {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.cnt__modal img {
  visibility: hidden;
  position: absolute;
  right: 2.5%;
  top: 2.5%;
  width: 25px;
  cursor: pointer;
}
.cnt__modal--form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 10px;
  border: 10px solid #4f518c;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}
.cnt__modal--form :nth-child(1) {
  margin: 0 0 7px 0 !important;
}
.cnt__modal--form label {
  margin: 7px 0px;
}
.cnt__modal--form input {
  padding: 10px;
  border: 1px solid #dabfff;
  border-radius: 3px;
  font-size: 14px;
  color: #2c2a4a;
}
.cnt__modal--form input::placeholder {
  padding: 5px;
  color: #b298dc;
}
.cnt__modal--form .btn {
  align-self: center;
  width: 30%;
  margin-top: 15px;
  font-size: 20px !important;
}
